absl-py==0.4.1
algopy==0.5.7
appdirs==1.4.3
astor==0.7.1
astroid==2.2.5
certifi==2019.3.9
chardet==3.0.4
colorama==0.4.1
cycler==0.10.0
decorator==4.3.2
Django==2.1.2
emoji==0.5.2
et-xmlfile==1.0.1
gast==0.2.0
geatpy==1.1.5.post10
grpcio==1.14.2
h5py==2.9.0
idna==2.8
isort==4.3.18
jdcal==1.4.1
jieba==0.39
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
Markdown==2.6.11
matplotlib==3.0.2
mccabe==0.6.1
nltk==3.4.1
numdifftools==0.9.20
numpy==1.14.5
openpyxl==2.6.2
pandas==0.23.4
patsy==0.5.1
Pillow==5.4.1
protobuf==3.6.1
pyflux==0.4.15
pylint==2.3.1
PyMySQL==0.9.3
pyparsing==2.3.1
python-dateutil==2.7.3
pytools==2019.1
pytz==2018.5
pywt==1.0.6
PyYAML==5.1
requests==2.21.0
scikit-learn==0.20.2
scipy==1.2.0
seaborn==0.9.0
simplejson==3.16.0
six==1.11.0
sklearn==0.0
statsmodels==0.9.0
tensorboard==1.10.0
tensorflow==1.10.0
termcolor==1.1.0
typed-ast==1.3.5
urllib3==1.24.2
Werkzeug==0.14.1
wrapt==1.11.1
xlrd==1.2.0
yahoo-finance==1.4.0
